/* General page style */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Initial background color */
    animation: colorCycle 20s infinite; /* Apply animation to the entire page */
}

/* Define the color animation */
@keyframes colorCycle {
    0%, 100% {
        background-color: rgb(0, 0, 0); /* Dark color */
    }
    50% {
        background-color: rgb(15, 15, 15); /* Slightly lighter dark color */
    }
}

#space {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 */
}

/* Style for the content below the image */
#content {
    padding-top: 200px; /* Adjust this value based on the image height */
    padding-bottom: 100px; /* Add padding at the bottom to make space for the fixed footer */
    overflow-y: auto; /* Enable vertical scrolling for content overflow */
}
