
/* General page style */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Initial background color */
    overflow-x: hidden; /* Hides horizontal scrollbar */
    overflow-y: auto; /* Enables vertical scrolling */
}


#space {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 */
    pointer-events: none;
}

/* Style for the content below the image */
#content {
    padding-top: 200px; /* Adjust this value based on the image height */
    padding-bottom: 100px; /* Add padding at the bottom to make space for the fixed footer */
    overflow-y: auto; /* Enable vertical scrolling for content overflow */
}



/* Temp text move css */
.movable {
    position: relative;
    left: 0; /* Initial horizontal position */
    transition: left 0.5s ease; /* Smooth transition for movement */
 }

 .movable:hover {
    left: 100px; /* Move 100px to the right on hover */
 }

 .hover-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.hover-button:hover {
    background-color: white;
    color: rgb(119, 119, 119);
}

.media-preview {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.media-preview img, .media-preview video {
    width: 150px; /* Adjust size as needed */
    height: auto;
    border-radius: 8px; /* Optional: adds rounded corners */
}

.media-slider {
    width: 100%;
    max-width: 500px; /* Set a max-width for the slider */
    height: 300px; /* Set a fixed height for the slider */
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover; /* Ensures media covers the area well */
    align-items: center; /* Center aligns items vertically */
    justify-content: center; /* Center aligns items horizontally */
    display: flex;
}

.slide img, .slide video {
    width: 100%; /* Ensures images and videos are not wider than the slide */
    height: 100%; /* Ensures images and videos fill the height of the slide */
    object-fit: cover; /* Prevents distortion and maintains aspect ratio */
}

.slide.active {
    display: flex; /* Flex to align child img/video */
}

