body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px; /* Increased gap for better spacing between items */
    padding: 20px;
    margin: auto;
    width: 100%;
}

.gallery-item {
    width: 100%;
    height: auto; /* Allows dynamic height */
    overflow: hidden;
    display: block; /* Changes from flex to block for better control over flow */
    position: relative;
    cursor: pointer;
    text-align: center; /* Aligns the caption text */
}

.gallery-item img, .gallery-item iframe {
    max-width: 100%;
    max-height: 400px; /* Fixes max height for better uniformity */
    object-fit: cover;
}

figcaption {
    color: #FFF;
    font-size: 16px; /* Suitable font size for captions */
    padding: 8px 0; /* Padding for spacing around text */
}
